<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Store</title>
    <link href='/css/normalize.css' rel="stylesheet">
    <link href='/css/styles-home.css' rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
</head>

<body>
    <header>
        <div class="img-logo-header">
            <img id="logo-header"src="/images/favicon-96x96.png" alt="GameStore">
        </div>
        <nav class="main-navbar">
            <ul>
                <li class="primer-color">Plataforma <i class="fas fa-caret-down"></i></li>
                <li class="segundo-color">Edades <i class="fas fa-caret-down"></i></li>
                <li class="tercer-color">Dificultad <i class="fas fa-caret-down"></i></li>
                <li class="cuarto-color">Categorías <i class="fas fa-caret-down"></i></li>
            </ul>
        </nav>
        <div class="barra-busqueda">
            <div>
            <input type="search" id="search">
                <i id="find" class="fas fa-search"></i><br>
            </div>
                <div class="log-sign">
                    Log in / Sign up
                </div>
            </div>
        <div class= "menu-desplegable">
            <i class="fas fa-caret-square-down"></i>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="lanzamientos">
                <img class="img-lanzamiento" src="/images/family-disruption1.jpg" alt="Family Disruption">
            </div>
            <section class="container-bs">
                <h2 class="tittle">Más Vendidos</h2>
                <div class="best-seller">
                    <article class="game game1">
                        <div class="container-img">
                            <img src="/images/cod.png" alt="Call of Duty">
                        </div>

                        <div class="info">
                            <h3 class="name">Call Of Duty</h3>
                            <p class="category">Shooter</p>
                            <div class="box-price">
                                <p class="price">$1500</p>
                                <p class="discount">15% off</p>
                            </div>
                            <a href="#">
                                <button class="button">Ver Juego</button>
                            </a>
                        </div>
                    </article>
                    <article class="game game2">
                        <div class="container-img">
                            <img src="/images/fifa-22.png" alt="Fifa 22">
                        </div>
                        <div class="info">
                            <h3 class="name">Fifa 22</h3>
                            <p class="category">Deporte</p>
                            <div class="box-price">
                                <p class="price">$2200</p>
                                <p class="discount">10% off</p>
                            </div>
                            <a href="#">
                                <button class="button">Ver Juego</button>
                            </a>
                        </div>
                    </article>
                    <article class="game game3">
                        <div class="container-img">
                            <img src="/images/age-of-empire-2.jpg" alt="Age Of Empire 2">
                        </div>

                        <div class="info">
                            <h3 class="name">Age Of Empire 2</h3>
                            <p class="category">Estrategia</p>
                            <div class="box-price">
                                <p class="price">$1850</p>
                                <p class="discount">15% off</p>
                            </div>
                            <a href="#">
                                <button class="button">Ver Juego</button>
                            </a>
                        </div>
                    </article>
                    <article class="game game4">
                        <div class="container-img">
                            <img src="/images/motogp21.png" alt="Moto GP 21">
                        </div>

                        <div class="info">
                            <h3 class="name">Moto GP 2021</h3>
                            <p class="category">Motos</p>
                            <div class="box-price">
                                <p class="price">$1150</p>
                                <p class="discount">35% off</p>
                            </div>
                            <a href="#">
                                <button class="button">Ver Juego</button>
                            </a>
                        </div>
                    </article>
                </div>

            </section>
            <section class="container-cs">
                <h2 class="tittle">Próximamente</h2>
                <div class="comming-soon">
                    <article class="game game5">
                        <div class="container-img">
                            <img src="/images/overwatch.png" alt="Overwatch">
                        </div>
                        <div class="info">
                            <h3 class="name">Overwatch</h3>
                            <p class="category">Shooter</p>
                            <button class="button-comming">Estreno Noviembre</button>
                        </div>
                    </article>
                    <article class="game 6">
                        <div class="container-img">
                            <img src="/images/residentevil.png" alt="Resident Evil 8">
                        </div>
                        <div class="info">
                            <h3 class="name">Resident Evil 8</h3>
                            <p class="category">Terror</p>
                            <button class="button-comming">Estreno Noviembre</button>
                        </div>
                    </article>
                    <article class="game game7">
                        <div class="container-img">
                            <img src="/images/hotline.png" alt="Hotline Miami 2">
                        </div>
                        <div class="info">
                            <h3 class="name">Hotline Miami 2</h3>
                            <p class="category">Acción</p>
                            <button class="button-comming">Estreno Diciembre</button>
                        </div>
                    </article>
                    <article class="game game8">
                        <div class="container-img">
                            <img src="/images/limbo.png" alt="Limbo">
                        </div>
                        <div class="info">
                            <h3 class="name">Limbo</h3>
                            <p class="category">Lógica</p>
                            <button class="button-comming">Estreno Diciembre</button>
                        </div>
                    </article>
                </div>
            </section>


        </div>
    </main>
    <footer>
        <div>
            <img class="img-logo-footer" src="/images/favicon-96x96.png" alt="GameStore"> 
        </div>
        <div class="redes-sociales">
            <i id="redes"class="fab fa-twitter-square"></i>
            <i id="redes"class="fab fa-facebook-square"></i>
            <i id="redes"class="fab fa-instagram-square"></i>
        </div>
        <div class="links-footer">
            <div class="first-column">
                <p>Publicar en GameStore</p>
                <p>Trabajá con nosotros</p>
                <p>Acerca de la compañía</p>
                <p>Política de privacidad</p>
            </div>
            <div class="second-column">
            <p>Política de reembolso de la tienda</p>
            <p>Seguridad de la cuenta</p>
            <p>Club GameStore</p>
            <p>Newsletter</p>
        </div>
        </div>
        <div class="informacion-legal-footer">
            © 2021, Game Store, Inc. Todos los derechos reservados. El logotipo de GameStore es una marca comercial o marca registrada de Game Store, Inc. tanto en Argentina como en el resto del mundo. Otras marcas o nombres de productos son marcas comerciales de sus respectivos propietarios. Las transacciones fuera de Argentina se realizan a través de GameStore International, S.A.   
        </div>
    </footer>
</body>

</html>