<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='/css/styles-productDetail.css' rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
        <title>GameStore</title>
    </head>
    <header>
        <div class="img-logo-header">
            <img id="logo-header"src="/images/favicon-96x96.png" alt="GameStore">
        </div>
        <nav class="main-navbar">
            <ul>
                <li class="primer-color">Plataforma <i class="fas fa-caret-down"></i></li>
                <li class="segundo-color">Edades <i class="fas fa-caret-down"></i></li>
                <li class="tercer-color">Dificultad <i class="fas fa-caret-down"></i></li>
                <li class="cuarto-color">Categorías <i class="fas fa-caret-down"></i></li>
            </ul>
        </nav>
        <div class="barra-busqueda">
            <div>
            <input type="search" id="search">
                <i id="find" class="fas fa-search"></i><br>
            </div>
                <div class="log-sign">
                    Log in / Sign up <i class="fas fa-gamepad"></i>
                </div>
            </div>
        <div class= "menu-desplegable">
            <i class="fas fa-caret-square-down"></i>
        </div>
    </header>
    <div id="relleno"></div>
    <body>
        <main>
            <p>
            <img class="img-principal" src="/images/family-disruption1.jpg" alt="Family Disruption">
        </p>  
    <section class="main-descripcion">
        <div class="descripcion-esrb-buy">
        <article class="descripcion-producto">
            <h2>Nine Witches: Family Disruption</h2>
            <h6>BLOWFISH STUDIOS PTY LTD</h6>
            <p>PS4/ PS5 / PC</p>
        </article>
        <p class="precio">$225</p>
        <article class="esrb-buy">
            <div class="buy">
                <button class="cart">Agregar al carrito <i class="fas fa-cart-plus"></i></button>
            </div>
            <div class="esrb">
                <img class="esrb-photo" src="/images/ESRB-Teen.png" alt="ESRB Teen"><br>
                <p class="esrb-detail">ESRB: Adolescentes</p>
            </div>
        </article>
        </div>
        </section>
        <section class="requisitos">
            <article class="tecnicos">
            <h4>Datos técnicos</h4>
                <div class="datos-tecnicos">
                    <p>1 jugador</p>
                    <p>Plataforma: PS4/PS5/PC</p>
                    <p>Lanzamiento: 4/12/2020</p>
                    <p>Editor: BLOWFISH STUDIOS PTY LTD</p>
                    <p>Género: Aventura</p>
                    <p>Idiomas de pantalla: Alemán, Chino - Simplificado, Chino - Tradicional, Español, Francés (Francia), Inglés, Portugués (Brasil), Ruso.</p>
                </article>
            </div>
            <article class="requisitos-pc">
            <h4>Requisitos del sistema</h4>
            <div class="requisitos-min"> 
                <h6>MÍNIMO:</h6>
                <p>Requiere un procesador y un sistema operativo de 64 bits</p>
                <p>SO: Windows 7</p>
                <p>Procesador: Intel i5 Quad-Core</p>
                <p>Memoria: 1 GB de RAM</p>
                <p>Gráficos: Intel HD 4000</p>
                <p>DirectX: Versión 10</p>
                <p>Almacenamiento: 2 GB de espacio disponible</p><br>
                <h6>RECOMENDADO:</h6>
                <p>Requiere un procesador y un sistema operativo de 64 bits</p>
                </div>
            </article>
    </section>
    </section>
    <section>
        <article class="resumen">
            Características:<br>
            
            - Una historia verdaderamente original y única (99,999999 % GARANTIZADO).<br>
            
            - Acción y aventura para un jugador, con elementos de ingenio.<br>
            
            - Únete al profesor Alexei Krakovitz y su leal asistente japonés, Akiro Kagasawa, en su heroica cruzada contra la Okkulte-55.<br>
            
            - Gráficos pixelados al estilo retro.<br>
            
            - ¡Un elenco de personajes peculiares!<br>
            
            - Visita Sundäe, un pueblo oprimido por la Okkulte-55, en la costa noroeste de Noruega.<br>
            
            - Habla con los muertos.<br>

            ¡Una aventura tan delirante que te hará delirar hasta el delirio mismo!<br>
        </article>
    </section>
    <section class="version">
        <h4>Ediciones</h4>
        <article>
            <h4>Standard</h4>

        </article>
    </section>
    <section class="complementos">
        <h4>Complementos</h4>
    </section>
        <article class="informacion-legal">
            Copyright © 2017 Indiesruption<br>
            <a href="https://www.blowfishstudios.com/privacy">BLOWFISH STUDIOS PTY LTD Privacy Policy & EULA</a>
        </article>
    </section>
    <button id="cart"><i class="fas fa-shopping-cart"></i></button>
</main>
    <footer>
        <div>
            <img class="img-logo-footer" src="/images/favicon-96x96.png" alt="GameStore"> 
        </div>
        <div class="redes-sociales">
            <i id="redes"class="fab fa-twitter-square"></i>
            <i id="redes"class="fab fa-facebook-square"></i>
            <i id="redes"class="fab fa-instagram-square"></i>
        </div>
        <div class="links-footer">
            <div class="first-column">
                <p>Publicar en GameStore</p>
                <p>Trabajá con nosotros</p>
                <p>Acerca de la compañía</p>
                <p>Política de privacidad</p>
            </div>
            <div class="second-column">
            <p>Política de reembolso de la tienda</p>
            <p>Seguridad de la cuenta</p>
            <p>Club GameStore</p>
            <p>Newsletter</p>
        </div>
        </div>
        <div class="informacion-legal-footer">
            © 2021, Game Store, Inc. Todos los derechos reservados. El logotipo de GameStore es una marca comercial o marca registrada de Game Store, Inc. tanto en Argentina como en el resto del mundo. Otras marcas o nombres de productos son marcas comerciales de sus respectivos propietarios. Las transacciones fuera de Argentina se realizan a través de GameStore International, S.A.   
        </div>
    </footer>
</body>
</html>