<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu carrito</title>
</head>

<body>
    <main>
        <div class="contenedor-productos-carro"></div>
        <article></article>
        <article></article>
        <article></article>
        <div class="contenedor-caja-totales"></div>
        <div class="sub"></div>
        <div class="tax"></div>
        <div class="total"></div>
        <div class="cupondescuento"></div>
        <div class="pagar"></div>
    </main>

</body>

</html>