/* Globales */

* {
    color: #d9d9d9;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --violeta : #8F4DB5;
    --negro : #0F0F0F;
    --gris : #d9d9d9;
    --amarillo: #FFE500; 
    --verde : #1CFF00;
    --cian : #00FFF0;
    --magenta: #FF00d6;
    --fondo: #1d1a1a;
    --main-font: 'Lato';
}

/*----- Header/Footer/Product Detail -----*/

.header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    box-shadow: 0 0 3px 3px #000;
    width: 100%;
}

body,
footer{
    font-family: 'Lato';
}

#relleno {
    height: 50px;
    background-color: #0F0F0F;
}

.img-logo-header {
    padding: 10px;
    margin: 10px;
}

#logo-header {
    width: 50%;
}

#find {
    display: none;
}

#search {
    display: none;
}
.logged{
    display: none;
}
.log-sign {
    display: none;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
}

.menu-desplegable {
    margin-right: 0px;
    font-size: 2rem;
    margin-top: 15px;
}

.menu-desplegable:hover {
    color: #8F4DB5;
    transition: 1000ms;
}

.main-navbar {
    display: none;
}

.main-mc {
    background-color: rgb(29, 26, 26);
    font-weight: bold;
    padding-bottom: 50px;
    padding-top: 60px;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.img-principal-mc {
    width: 70vw;
    max-height: 70vh;
    padding: 0;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 14.5vw;
}

.img-principal-mc:hover {
    box-shadow: 0px 0px 10px #FF00d6;
}

.h4-mc {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 25px;
    border-radius: 5px;
    padding: 3px;
    height: 30px;
    width: 250px;
    box-shadow: 0px 0px 10px #FF00d6;
}

.precio-mc {
    background-color: rgba(0, 0, 0, 0.925);
    border-radius: 5px;
    text-align: center;
    width: 150px;
    height: 50px;
    padding-top: 15px;
    margin: 10px;
}

.precio-mc:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
    -moz-box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
    box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
}

.esrb-buy {
    display: flex;
    justify-content: space-between;
    max-width: 75vw;
}

#errorList {
    list-style: none;
}

.buy-mc {
    flex-wrap: wrap;
}

.cart-mc {
    background-color: #FF00d6;
    width: 200px;
    height: 35px;
    border-color: #FF00d6;
    border-radius: 8px;
    margin-bottom: 10px;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 15px;
}

.cart-mc:active {
    background-color: #8F4DB5;
    border-color: #8F4DB5;
    transition: 1000ms;
}

#cart{
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 10%;
    left: 80%;
    font-weight: bold;
    text-align: center;
    padding-right: 3px;
    font-size: 1.5em;
    cursor: pointer;
    -webkit-box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
    -moz-box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
    box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
}

#cart{
    -webkit-animation: colorborderchange 30s infinite alternate;
}

@-webkit-keyframes colorborderchange {
    0% {
  
      border-color: #8F4DB5;
      -webkit-box-shadow: 0px 13px 51px -2px #8F4DB5;
      -moz-box-shadow: 0px 13px 51px -2px #8F4DB5;
      box-shadow: 0px 13px 51px -2px #8F4DB5;
    }
  
    10% {
  
        border-color: #FF00d6;
        -webkit-box-shadow: 0px 13px 51px -2px #FF00d6;
        -moz-box-shadow: 0px 13px 51px -2px #FF00d6;
        box-shadow: 0px 13px 51px -2px #FF00d6;
    }
  
    20% {
  
        border-color: #00FFF0;
        -webkit-box-shadow: 0px 13px 51px -2px #00FFF0;
        -moz-box-shadow: 0px 13px 51px -2px #00FFF0;
        box-shadow: 0px 13px 51px -2px #00FFF0;
    }
  
    30% {
  
        border-color: #1CFF00;
        -webkit-box-shadow: 0px 13px 51px -2px #1CFF00;
        -moz-box-shadow: 0px 13px 51px -2px #1CFF00;
        box-shadow: 0px 13px 51px -2px #1CFF00;
    }
  
    40% {
  
        border-color: #FFE500;
        -webkit-box-shadow: 0px 13px 51px -2px #FFE500;
        -moz-box-shadow: 0px 13px 51px -2px #FFE500;
        box-shadow: 0px 13px 51px -2px #FFE500;
    }
  
    50% {
  
        border-color: #8F4DB5;
        -webkit-box-shadow: 0px 13px 51px -2px #8F4DB5;
        -moz-box-shadow: 0px 13px 51px -2px #8F4DB5;
        box-shadow: 0px 13px 51px -2px #8F4DB5;
    }
  
    60% {
  
        border-color: #FF00d6;
        -webkit-box-shadow: 0px 13px 51px -2px #FF00d6;
        -moz-box-shadow: 0px 13px 51px -2px #FF00d6;
        box-shadow: 0px 13px 51px -2px #FF00d6;
    }
  
    70% {
  
        border-color: #00FFF0;
        -webkit-box-shadow: 0px 13px 51px -2px #00FFF0;
        -moz-box-shadow: 0px 13px 51px -2px #00FFF0;
        box-shadow: 0px 13px 51px -2px #00FFF0;
    }
    80% {
  
        border-color: #1CFF00;
        -webkit-box-shadow: 0px 13px 51px -2px #1CFF00;
        -moz-box-shadow: 0px 13px 51px -2px #1CFF00;
        box-shadow: 0px 13px 51px -2px #1CFF00;
    }
  
    90% {
  
        border-color: #FFE500;
        -webkit-box-shadow: 0px 13px 51px -2px #FFE500;
        -moz-box-shadow: 0px 13px 51px -2px #FFE500;
        box-shadow: 0px 13px 51px -2px #FFE500;
    }
  
    100% {
  
        border-color: #8F4DB5;
        -webkit-box-shadow: 0px 13px 51px -2px #8F4DB5;
        -moz-box-shadow: 0px 13px 51px -2px #8F4DB5;
        box-shadow: 0px 13px 51px -2px #8F4DB5;
    }
  }

#fas{
    -webkit-animation:colorchange 30s infinite alternate;
    opacity: 0.75;
}

@-webkit-keyframes colorchange {
    0% {
  
      color: #8F4DB5;
    }
  
    10% {
  
      color: #FF00d6;
    }
  
    20% {
  
      color: #00FFF0;
    }
  
    30% {
  
      color: #1CFF00;
    }
  
    40% {
  
      color: #FFE500;
    }
  
    50% {
  
      color: #8F4DB5;
    }
  
    60% {
  
      color: #FF00d6;
    }
  
    70% {
  
      color: #00FFF0;
    }
    80% {
  
      color: #1CFF00;
    }
  
    90% {
  
      color: #FFE500;
    }
  
    100% {
  
      color: #8F4DB5;
    }
  }

.esrb {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    flex-wrap: wrap;
    width: 5%;
}

.esrb-photo {
    max-width: 60px;
}

.descripcion-producto-mc,
.requisitos-pc,
.tecnicos {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    border-radius: 8px;
    border-radius: 8px;
    margin-top: 15px;
}

.descripcion-esrb-buy{
    padding-left: 15px;
}

.requisitos-pc,
.tecnicos {
    max-width: 90%;
}

.tecnicos{
    height: 100%;
}

.requisitos-pc{
    margin-top: 30px;
}

.datos-tecnicos {
    font-size: 0.70rem;
}

.requisitos-min {
    background-color: rgba(0, 0, 0, 0.925);
    padding: 5px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 0.70rem;
}

.resumen-mc {
    display: none;
}

.version {
    display: none;
}

.complementos {
    display: none;
}

.informacion-legal-developer,
.informacion-legal-footer {
    margin-top: 20px;
    margin-left: 15px;
    line-height: 1em;
    font-size: 0.75em;
    font-weight: normal;
    padding-bottom: 10px;
}

footer {
    background-color: #000;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    border-top: solid 2px #00FFF0;
}

.img-logo-footer {
    margin: 5%;
}

#redes {
    color: rgb(54, 53, 53);
    font-size: 2em;
    margin: 5px;
}

.links-footer {
    margin: 10px;
}

@media (min-width: 769px) {
    .img-logo-header {
        margin-right: 0;
    }
    .barra-busqueda {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-right: 5px;
    }
    #search {
        display: unset;
        max-height: 25px;
        min-width: 150px;
        margin-top: 15px;
        padding: 2px;
        border-bottom: solid #8F4DB5 3px;
        background-color: #000;
        border-radius: 3px;
    }
    #search:hover,
    #search:active,
    .log-sign:hover {
        border-color: #8F4DB5;
    }
    #find {
        display: unset;
        padding: 2px;
        text-align: center;
        width: 35px;
        max-height: 25px;
        background-color: transparent;
        color: #666;
        border-radius: 3px;
        cursor: pointer;
    }
    .logged{
        display: block;
        margin-top: 10px;
        font-size: 10px;
        margin-bottom: 5px;
        font-family: 'Press Start 2P';
    }
    .log-sign {
        display: block;
        margin-top: 15px;
        margin-right: 5px;
        font-family: 'Press Start 2P';
        font-size: 10px;
        padding-bottom: 7px;
    }
    .menu-desplegable {
        display: none;
    }
    .main-navbar {
        display: flex;
        text-align: start;
    }
    .main-navbar ul {
        list-style: none;
        margin: auto;
    }
    .main-navbar li {
        font-family: 'Press Start 2P';
        font-size: 8px;
        display: inline-block;
        margin-top: 40px;
        margin-right: 15px;
    }
    .primer-color:hover {
        color: #FFE500;
        opacity: 0.7;
        transition: all 1000ms;
    }
    .segundo-color:hover {
        color: #1CFF00;
        opacity: 0.7;
        transition: all 1000ms;
    }
    .tercer-color:hover {
        color: #00FFF0;
        opacity: 0.7;
        transition: all 1000ms;
    }
    .cuarto-color:hover {
        color: #FF00d6;
        opacity: 0.7;
        transition: all 1000ms;
    }
    .main-descripcion-mc {
        margin-top: 10px;
        justify-content: center;
        width: 100%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        transition: all 1000ms;
        background-color: rgba(36, 35, 35, 0.925);
    }

    #cart{
        transition: all 1000ms;
        bottom: 40%;
        width: 70px;
        height: 70px;
        bottom: 5%;
        left: 90%;
    }
    
    .cart-mc{
        margin-top: 25px;
        margin-right: 40px;
    }

    .descripcion-producto-mc {
        margin-left: 5px;
        max-width: 50%;
    }


    .descripcion-esrb-buy{
        display: flex;
    }

    .ersb{
        margin-left: 5px;
        padding-right: 20px;
    }

    .precio-mc {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 200px;
        margin-top: 10px;
        transition: all 1000ms;
        margin-top: auto;
        margin-bottom: auto;
    }

    .esrb-photo{
        padding-right: 15px;
    }

    .esrb-buy {
        width: 40vw;
    }
    .esrb {
        width: 50%;
    }

    .requisitos {
        display: flex;
        width: 100%;
        padding-top: 50px;
    }

    .h4-mc{
        margin-left: 8%;
        margin-right: 10%;
    }

    .tecnicos {
        margin-top: 0;

    }

    .requisitos-pc {
        margin-top: 0;
        margin-left: 15px;

    }
    .datos-tecnicos {
        background-color: rgba(0, 0, 0, 0.925);
        border-radius: 5px;
        font-size: 0.70rem;
        font-weight: normal;
        text-align: center;
        padding-top: 70px;
        height: 350px;
        width: 300px;
        padding-left: 7px;
        padding-right: 5px;
    }
    .requisitos-min {
        background-color: rgba(0, 0, 0, 0.925);
        border-radius: 5px;
        font-weight: normal;
        font-size: 0.70rem;
        height: 350px;
        width: 300px;
        margin-top: 5px;
        text-align: left;
        padding:10px;
        padding-top: 30px;
        padding-left: 7px;
    }

    footer {
        transition: all 1000ms;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .redes-sociales {
        width: 30%;
        padding: 15px;
        margin: 15px;
        font-size: 0.70em;
    }
    .links-footer {
        margin-right: 10px;
        margin-left: 40px;
        display: flex;
        justify-content: center;
        width: 60%;
    }
    .first-column,
    .second-column {
        text-align: center;
        justify-content: center;
        padding: 5px;
        min-width: 20vw;
        text-align: start;
    }
    .informacion-legal-footer {
        width: 100%;
        margin: 0;
        padding-left: 7px;
        padding-top: 15px;
    }
}

@media (min-width: 1280px) {
    .main-navbar li {
        padding-left: 25px;
    }

    .descripcion-producto-mc{
        max-width: 300px;
    }

    .esrb-buy{
        display: flex;
        justify-content: flex-end;
    }

    .esrb-photo{
        margin-left: 150px;
    }

    .esrb-detail{
        margin-left: 150px;
    }

    .precio-mc {
        width: 450px;
        transition: all 1000ms;
    }

    .main-navbar li {
        font-family: 'Press Start 2P';
        font-size: 12px;
        margin-right: 15px;
        transition: all 1000ms;
    }

    #cart{
        left: 93%;
    }

    .resumen-mc {
        padding-left: 10px;
        border-radius: 8px;
        max-width: 50%;
        margin: auto;
        margin-top: 50px;
        font-weight: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 2em;
    }
    .requisitos-pc {
        max-width: 50%;
    }
    .datos-tecnicos {
        font-size: 1em;
        transition: all 1000ms;
        padding-top: 60px;
        margin-left: 0;
    }
    .requisitos-min {
        font-size: 1em;
        transition: all 1000ms;
        padding: auto;
        line-height: 1.7rem;
        margin-left: 0;
    }
    
    .first-column,
    .second-column {
        min-width: 30vw;
    }

}

/*----- Header/Footer/Product Detail Fin -----*/

/*----- Home -----*/

.html-marcos {
    box-sizing: border-box;
    color: var(--gris);
  }

.body-marcos {
    font-family: var(--main-font);
}

/* MAIN */
.imagen {
    max-width: 80%;
    display: block;
    margin: auto;
    border-radius: 5px;
}
.main-home {
    background: var(--fondo);
    padding-top: 60px;
}
.container,
.game {
    width: 90%;
    margin: 0 auto;
    /* padding: 1rem 0; */
}

.game{
    box-shadow: 0px 0px 10px #666;
}

.lanzamientos {
    padding: auto;
    margin: auto;
    text-align: center;

}
.img-lanzamiento {
    border-radius: 10px;
    border-color: var(--fondo);
    transition: all 450ms;
    width: 100%;
    max-width: 90vw;
}
.img-lanzamiento:hover {
    box-shadow: 0px 0px 10px #FF00d6;
}

.container-bs{
    margin-top: 20px;
}

.container-bs,
.container-cs {
    padding: 0 0 15px 0;
}
.tittle {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--gris);
    padding: 10px 0 15px;
    background-color: rgb(36, 35, 35, 0.925);
}

.best-seller article,
.comming-soon article {
    margin-bottom: 15px;
    padding-top: 10px;
    transition: all;    
}

.container-img {
    width: 80%;
    margin: 0 auto;
    
}

.container-img img{
    height: 250px;
}    
.info {
    padding: 10px 0;
    text-align: center;
}
.name,
.category {
    color: var(--gris);
}
.category {
    font-size: 14px;
    padding: 5px 0;
}
.name {
    font-size: 18px;
}
.box-price {
    display: flex;
    justify-content: center;
    align-items: center;
}
.price {
    font-size: 17px;
    color: var(--gris);
    padding-right: 5px;
}
.discount {
    font-size: 12px;
    color: var(--verde);
}
.button {
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 15px;
    color: var(--gris);
    background: var(--magenta);
    transition: all 450ms;
}

.button:hover {
    cursor: pointer;
    color: white;
    -webkit-box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
    -moz-box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
    box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
}
.button-comming {
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 15px;
    color: var(--gris);
    background: black;
}


@media (min-width: 769px) {

    /* MAIN */

    .tittle {
        font-size: 32px;
        margin-top: 10px;
    }

    .best-seller,
    .comming-soon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .best-seller article {
        border: none;
    }
    .container-bs {
        border-bottom: 2px solid var(--magenta);
        border-top: 2px solid var(--magenta);
    }

    .img-lanzamiento{
        max-width: 70vw;
        }

}

@media (min-width: 1024px) {
    .best-seller,
    .comming-soon{
        grid-template-columns: repeat(4, 1fr);
    }

}

/*----- Home Fin -----*/


/*----- New/Edit Game -----*/

#imageEdit{
    margin-top: 5px;
    width: 60px;
    height: 30px;
}


#imageEditV{
    margin-top: 5px;
    width: 40px;
    height: 60px;
}

.body-new-game {
    font-size: 16px;
    font-family: var(--main-font);
    color: var(--gris);
    background-color: var(--fondo);
}

.container-m{
    padding-top: 100px;
    font-weight: bold;
    padding-bottom: 50px;
}

.container-form{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    border: 2px solid;
    padding: 10px;
    border-color: var(--violeta);
    border-radius: 10px;
}
.container-form h1 {
    font-size: 32px;
    text-align: center;
}
.box-container {
    width: 70%;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;

}
.block {
    display: block;
}
.tittle-m {
    padding-bottom: 10px;
}
.input-style {
    width: 100%;
    height: 35px;
    color: var(--gris);
    border-bottom: 1px solid var(--cian);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.925);
    text-align: center;
}
.text-area-style {
    width: 100%;
    color: var(--gris);
    border-bottom: 1px solid var(--cian);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.925);
    text-align: center;
}

.box-category {
    display: flex;
    flex-direction: column;
}
.box-category label {
    padding-bottom: 5px;
    font-size: 14px;
}
.category-option {
    margin-right: 5px;
}
.photo-game input {
    font-size: 10px;

}
.box-button {
    text-align: center;
    padding: 10px 0 25px;
    border-radius: 5px;
}
.send-button-m {
    text-align: center;
    padding: 10px;
    width: 70%;
    max-width: 300px;
    color: var(--gris);
    background-color: var(--magenta);
    border: none;
    border-radius: 5px;
    transition: all 450ms;
}
.send-button-m:hover {
    cursor: pointer;
    color: white;
    -webkit-box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
    -moz-box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
    box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
}
@media (min-width: 768px) {
    .container-button {
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px; */
        margin: 0 auto;
        width: 70%;
        max-width: 300px;
    }
    .send-button-m {
        width: 100%;
        padding: 5px 0;
    }
}

@media (min-width: 1024px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container-form {
        max-width: 800px;
    }
    .container-button {
        max-width: 450px;
    }
}

/*----- New/Edit Game Fin-----*/

/*----- Shopping Cart -----*/
.body_shopping_cart {
    background-color: rgb(29, 26, 26);
    font-family: 'Lato';
}

.main_shopping_cart {
    background-color: rgb(29, 26, 26);
    font-weight: bold;
    padding-bottom: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-bottom: 22px;
}

.contenedor-productos-carro {
    border: 3px solid #8F4DB5;
    border-radius: 8px;
    box-shadow: 4px 10px 5px 0px rgba(191, 191, 191, 0.75);
    padding: 15px;
    margin-top: 10px;
}

.contenedor-imagenes {
    width: 100px;
}

.contenedor-imagenes img {
    object-fit: contain;
    width: 100px;
    height: 100px;
    flex-grow: 0.33;
}

.contenedor-caja-totales {
    margin-top: 50px;
    border: 3px solid #8F4DB5;
    border-radius: 8px;
    box-shadow: 4px 10px 5px 0px rgba(191, 191, 191, 0.75);
    padding: 15px;
    flex-direction: column;
}

.total,
.cajatotal {
    padding-top: 7px;
    font-size: 2em;
}

.sub,
.dis,
.tax,
.cajasub,
.cajadis,
.cajatax {
    font-size: 15px;
    padding: 5px;
}

.contenedor-montos-sumatorias>div {
    background-color: rgba(0, 0, 0, 0.925);
    border-bottom: #00FFF0 1px solid;
    border-radius: 3px;
    height: auto;
    text-align: right;
    font-weight: normal;
}

.contenedor-titulos-sumatorias>div {
    background-color: rgba(0, 0, 0, 0.925);
    border-bottom: #00FFF0 1px solid;
    border-radius: 3px;
    height: auto;
    text-align: center;
    font-weight: normal;
}

.contenedor-flex-caja {
    display: flex;
    justify-content: space-around;
}

.contenedor-imagenes a:link,
a:visited,
a:active {
    text-decoration: none;
}

.precio {
    background-color: rgba(0, 0, 0, 0.925);
    min-width: 50px;
    max-width: 150px;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    align-self: center;
    justify-content: end;
    width: 30%;
}

.precio:hover {
    box-shadow: 0px 0px 10px #FF00d6;
}

button {
    background-color: #FF00d6;
    width: 200px;
    height: 35px;
    border-color: #FF00d6;
    border-radius: 8px;
    align-items: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

button:hover{
    cursor: pointer;
    color: white;
    -webkit-box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
    -moz-box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
    box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
    
}

button:active {
    background-color: #8F4DB5;
    border-color: #8F4DB5;
    transition: 1000ms;
}

#boton-remove {
    background-color: rgba(0, 0, 0, 0.925);
    width: 12%;
    height: 20px;
    border-color: #8F4DB5;
    border-radius: 5px;
    margin-bottom: 15px;
    align-items: flex-end;
    transition: all;
    cursor: pointer;
    font-size: 10px;
}

#boton-remove:active {
    background-color: #dd1111;
    border-color: #dd1111;
    transition: 1000ms;
}


#boton-linkcobro {
    text-decoration: none;
    background-color: #00FFF0;
    border-color: #00FFF0;
    color: rgba(0, 0, 0, 0.925);
}

#boton-linkcobro:hover{
    cursor: pointer;
    color: white;
    -webkit-box-shadow: 0px 13px 51px -2px #00FFF0;
    -moz-box-shadow: 0px 13px 51px -2px #00FFF0;
    box-shadow: 0px 13px 51px -2px #00FFF0;
}

.contenedor-productos-carro a:link,
a:visited,
a:active {
    text-decoration: none;
}

article {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #8F4DB5;
    margin-bottom: 10px;
    justify-content: space-around;
}

.titulo-descripcion {
    display: flex;
    flex-direction: column;
    flex-grow: 0.33;
    width: 100px;
}

.titulo-juego {
    font-size: 18px;
}

.p_shopping_cart {
    font-size: 14px
}

.cupondescuento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

#caja-validacion {
    width: 200px;
    min-height: 35px;
    border: 1px solid #00FFF0;
    background-color: rgba(0, 0, 0, 0.925);
    margin-top: 20px;
    text-align: center;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-sumatorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.botonera-carrito {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width: 769px) {
    .contenedor-montos-sumatorias>div {
        transition: all 1000ms;
        width: 150px;
    }
    .contenedor-titulos-sumatorias>div {
        transition: all 1000ms;
        width: 150px;
    }
    .main_shopping_cart {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contenedor-productos-carro,
    .contenedor-caja-totales {
        width: 49%;
        height: fit-content;
        flex-direction: column;
    }
    .contenedor-caja-totales {
        margin-top: 10px;
        flex-direction: column;
    }
    .botonera-carrito{
        display: flex;
    }

    #boton-remove{
        margin-top: 28px;
        margin-left: 5px;
    }
}    

@media (min-width: 1280px) {
    #sumar-Addon{
        margin-top: 38px;
    }

    #boton-remove{
        margin-top: 45px;
        transition: all 1000ms;
    }
    .main_shopping_cart{
        padding-top: 62px;
        padding-bottom: 87px;
    }
}    

/*----- Shopping Cart Fin -----*/

/*----- Sign-in/Sign-up -----*/
.forget{
    font-size: 15px;
    font-weight: normal;
    padding-left: 17px;
}
.centrado{
    margin: 0 auto;
}
.remember{
    font-weight: normal;
}
.main-fianriel{
    padding-top: 70px;
    background-color: rgb(29, 26, 26);
    font-weight: bold;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    font-family: 'Lato';
}
.h1-fianriel{
    font-size: 20px;
    text-align: center;
}

.registro-box-fianriel{
    height: fit-content;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid;
    padding: 10px;
    border-color: #8F4DB5;
    border-radius: 10px;
}

.section-fianriel{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;    
}


.input-fianriel{
    min-width: 200px;
    min-height: 35px;
    border-bottom: 1px solid #00FFF0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.925);
    text-align: center;
    height: 35px;
}

.checks-fianriel{
    width: 10px;
    height: 10px;
}

.select-fianriel{
    min-width: 200px;
    min-height: 35px;
    border: 1px solid #00FFF0;
    background-color: rgba(0, 0, 0, 0.925);
    text-align: center;
    height: 35px;
}


.send-buttom {
    background-color: #FF00d6;
    height: 35px;
    border-color: #FF00d6;
    border-radius: 8px;
    margin-bottom: 10px;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
    width: 70%;
    margin: 0 auto;
}

.send-buttom:active {
    background-color: #8F4DB5;
    border-color: #8F4DB5;
    transition: 1000ms;
}

.send-buttom:hover {
    cursor: pointer;
    color: white;
    -webkit-box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
    -moz-box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
    box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
}

.legales-fianriel{
    font-size: 15px;
    margin: 0px;
    font-weight: lighter;
}

@media (min-width: 360px){
    .article-fianriel{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .article-fianriel *{
        margin: 5px;
    }

}

@media (min-width: 769px) {
    .article-fianriel{
        text-align: start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: all 1000ms;
    }

    .article-fianriel *{
        margin: 5px;
        margin-bottom: 15px;
        transition: all 1000ms;
    }
}

@media (min-width: 1280px){

    .main-fianriel{
        padding-top: 150px;
        padding-bottom: 250px;
    }
}    

@media (min-height: 680px){
    .main-fianriel{
        min-height: 87vh;
    }
}
/*----- Sign-in/Sign-up Fin -----*/

/*----- Product list -----*/

.body-productlist{
    background-color: rgb(29, 26, 26);
}
.product-filter{
    margin: 20px;
    padding-left: 10px;
    border: solid #00FFF0 1px;
    border-radius: 5px;
    line-height: 1.5em;
    font-size: 0.75em;
    text-align: left;
}

.product-list{
    margin-right: 15px;
}

.product-list article{
    margin: 0;
    width: 100%;
    height: 100%;
    
}

.product-list img{
    border-radius: 5px;
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

#info{
    width: 80%;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

#info button{
    font-size: 0.75em;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 120px;
}

.h3-productlist{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media(min-width: 769px){
    .product-filter{
        font-size: 1em;
        transition: all 1000ms;
    }

    .filter{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        padding-top: 10px;
        margin: auto;
        transition: all 1000ms;
    }

    #info button{
        font-size: 0.75em;
        transition: all 1000ms;
    }
}
    
    
    @media (min-width: 1280px){
        
        .filter{
            display: block;
            transition: all 1000ms;
            padding: 0px;
        }
        
            .main-productlist{
                display: flex;
                margin-left: 15px;
                transition: all 1000ms;
                padding-bottom: 20px;
            }
            .product-filter{
                height: 470px;
                width: 40%;
                margin-top: 20px;
                margin-right: 20px;
                line-height: 1.5em;
                padding: 20px;
                transition: all 1000ms;
            }
            
            .product-list{
                margin-top: 20px;
            }
            
            .h3-productlist{
                margin-bottom: 15px;
                margin-top: 15px;
                border-bottom: solid #8F4DB5 2px;
                border-radius: 5px;
                transition: all 1000ms;
            }
            
                    #info button{
                        font-size: 1em;
                        width: 200px;
                        transition: all 1000ms;
                    }
        }

        /*----- Product list Fin -----*/

         /*----- Edit Game -----*/       

        .delete-button-m {
            text-align: center;
            padding: 10px;
            width: 70%;
            max-width: 300px;
            color: var(--gris);
            background-color: var(--magenta);
            border: none;
            border-radius: 5px;
            transition: all 450ms;
        }
        .delete-button-m:hover {
            cursor: pointer;
            color: white;
            -webkit-box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
            -moz-box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
            box-shadow: 0px 13px 51px -2px rgba(173,16,173,1);
        }
        
        
        @media (min-width: 768px) {
            .container-delete-button {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 20px;
                margin: 0 auto;
                width: 70%;
                max-width: 300px;
            }
            .delete-button-m {
                width: 100%;
                padding: 5px 0;
            }
        }
        
        @media (min-width: 1024px) {
            .container-delete-button {
                max-width: 450px;
            }
        }

        /*----- Edit Game Fin-----*/  

        
        .text-danger{
            color: red;
            font-size: 0.7em;
            text-align: left;
            margin-top: 3px;
            font-weight: normal;
        }
/*----- Profile -----*/ 
        .avatar{
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding: 15px;
        }

        .fotoAvatar{
            text-align: center;
            margin-left: 10px;
        }

        .mainUserProfile{
            background-color: rgb(29, 26, 26);
            font-weight: bold;
            padding-bottom: 50px;
            padding-top: 25px;
        }

        .img-avatar{
            margin-top: 5px;
            margin-bottom: 10px;
            width: 120px;
            height: 100px;
            border-radius: 10%;
            box-shadow: 0 0 3px 3px rgb(36, 35, 35, 0.925);
        }

        .imgAvatarHeader{
            max-width: 45px;
            max-height: 45px;
            border-radius: 50%;
        }


        .banner{
            width: 100vw;
            margin-left: 0;
            padding-left: 0;
            padding-top: 15px; 
        }

        .credencial{
            font-size: 10px;
            width: 80vw;
            margin: auto;
            text-align: center;
            display: flex;
            justify-content: space-between;
            position: relative;
            bottom: 20px;
        }
        .datos-user{
            margin: auto;
        }
        .nombre-usuario{
            font-size: 18px;
            font-weight: normal;
            font-family: 'Press Start 2P' ;
        }

        .email-usuario{
            font-size: 12px;
            font-weight: normal;
        }

        .compras{
            text-align: center;
            margin-bottom: 10px;
        }
        
        .mis-compras{
            background-color: rgb(36, 35, 35, 0.925);
            padding: 5px
            
        }

        .juegos-compras{
            margin-top: 5px;
        }

        .botonera-download{
            margin: auto;
            text-align: center;

        }

        .img-games-profile{
            border-radius: 10px;
            height: 120px;
            width: 100px;
            margin-left: 15px;
        }

        .p_shopping_cart{
            padding-bottom: 5px;
        }
        .titulo-juego-profile{
            font-size: 12px;
            padding-top: 2px;
            padding-bottom: 4px;
        }

        .next{
            text-align: center;
            margin-top: 20px;
            font-size: 20px;
        }

        @media (min-width: 768px){
            .credencial{
                bottom: 100px;
                width: 60vw;
                transition: all 1000ms;
            }

            .img-avatar{
                width: 250px;
                height: 200px;
                transition: all 1000ms;
            }
            
            .banner{
                width: 100vw;
                margin-left: 0;
                padding-left: 0;
                padding-top: 15px;
            }
        }

        /*----- Profile End-----*/ 