* {
    font-family: 'Lato';
    color: #d9d9d9;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

#relleno {
    height: 70px;
}

.img-logo-header {
    padding: 10px;
}

#logo-header {
    width: 50%;
}

#find {
    display: none;
}

#search {
    display: none;
}

.log-sign {
    display: none;
}

.menu-desplegable {
    margin-right: 5px;
    font-size: 2rem;
    margin-top: 15px;
}

.menu-desplegable:hover {
    color: #8F4DB5;
    transition: 1000ms;
}

.main-navbar {
    display: none;
}

main {
    background-color: rgb(29, 26, 26);
    font-weight: bold;
    padding-bottom: 50px;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.img-principal {
    max-width: 70vw;
    padding: 0;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 15vw;
}

.img-principal:hover {
    box-shadow: 0px 0px 10px #FF00d6;
}

h4 {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 25px;
    border-radius: 5px;
    padding: 3px;
    height: 30px;
    width: 250px;
    box-shadow: 0px 0px 10px #FF00d6;
}

.precio {
    background-color: rgba(0, 0, 0, 0.925);
    border-radius: 5px;
    text-align: center;
    width: 150px;
    height: 50px;
    padding-top: 15px;
    margin: 10px;
}

.precio:hover {
    box-shadow: 0px 0px 10px #FF00d6;
}

.esrb-buy {
    display: flex;
    justify-content: space-between;
    max-width: 75vw;
}

.buy {
    flex-wrap: wrap;
}

.cart {
    background-color: #FF00d6;
    width: 200px;
    height: 35px;
    border-color: #FF00d6;
    border-radius: 8px;
    margin-bottom: 10px;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 15px;
}

button:active {
    background-color: #8F4DB5;
    border-color: #8F4DB5;
    transition: 1000ms;
}

#cart{
    background-color: #8F4DB5;
    width: 60px;
    height: 60px;
    border-color: #8F4DB5;
    border-radius: 10px;
    position: fixed;
    bottom: 10%;
    left: 80%;
    font-weight: bold;
    text-align: center;
    padding-right: 3px;
    font-size: 1.5em;
}

#cart:active{
    border-color: #FF00d6;
    background-color: #FF00d6;
}

.esrb {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    flex-wrap: wrap;
    width: 5%;
}

.esrb-photo {
    max-width: 60px;
}

.esrb-detail {
    max-width: 60px;
    font-weight: normal;
    font-size: 0.75em;
    text-align: left;
}

.descripcion-producto,
.requisitos-pc,
.tecnicos {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    border-radius: 8px;
    border-radius: 8px;
    margin-top: 15px;
}

.descripcion-esrb-buy{
    padding-left: 15px;
}

.requisitos-pc,
.tecnicos {
    max-width: 90%;
}

.tecnicos{
    height: 100%;
}

.requisitos-pc{
    margin-top: 30px;
}

.datos-tecnicos {
    font-size: 0.70rem;
}

.requisitos-min {
    background-color: rgba(0, 0, 0, 0.925);
    padding: 5px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 0.70rem;
}

.resumen {
    display: none;
}

.version {
    display: none;
}

.complementos {
    display: none;
}

.informacion-legal,
.informacion-legal-footer {
    margin-top: 20px;
    margin-left: 15px;
    line-height: 1em;
    font-size: 0.75em;
    font-weight: normal;
    padding-bottom: 10px;
}

footer {
    background-color: #000;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    border-top: solid 2px #00FFF0;
}

.img-logo-footer {
    margin: 4%;
}

#redes {
    color: rgb(54, 53, 53);
    font-size: 2em;
    margin: 5px;
}

.links-footer {
    margin: 10px;
}

@media (min-width: 769px) {
    .img-logo-header {
        margin-right: 0;
    }
    .barra-busqueda {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-right: 5px;
    }
    #search {
        display: unset;
        max-height: 25px;
        min-width: 150px;
        margin-top: 15px;
        padding: 2px;
        border-bottom: solid #8F4DB5 3px;
        background-color: #000;
        border-radius: 3px;
    }
    #search:hover,
    #search:active,
    .log-sign:hover {
        border-color: #8F4DB5;
    }
    #find {
        display: unset;
        padding: 2px;
        text-align: center;
        width: 35px;
        max-height: 25px;
        background-color: transparent;
        color: #666;
        border-radius: 3px;
        cursor: pointer;
    }
    .log-sign {
        display: block;
        margin-top: 15px;
        margin-right: 8px;
        font-family: 'Press Start 2P';
        font-size: 0.80em;
        padding-bottom: 7px;
    }
    .menu-desplegable {
        display: none;
    }
    .main-navbar {
        display: flex;
        text-align: start;
    }
    .main-navbar ul {
        list-style: none;
        margin: auto;
    }
    .main-navbar li {
        font-family: 'Press Start 2P';
        font-size: 0.55em;
        display: inline-block;
        margin-top: 40px;
        margin-right: 10px;
    }
    .primer-color:hover {
        color: #FFE500;
        opacity: 0.7;
        transition: all 1000ms;
    }
    .segundo-color:hover {
        color: #1CFF00;
        opacity: 0.7;
        transition: all 1000ms;
    }
    .tercer-color:hover {
        color: #00FFF0;
        opacity: 0.7;
        transition: all 1000ms;
    }
    .cuarto-color:hover {
        color: #FF00d6;
        opacity: 0.7;
        transition: all 1000ms;
    }
    .main-descripcion {
        margin-top: 10px;
        width: 90vw;
        margin-left: 25px;
    }

    #cart{
        transition: all 1000ms;
        bottom: 40%;
        width: 70px;
        height: 70px;
        border-radius: 15px;
        bottom: 5%;
        left: 90%;
    }

    .cart{
        margin-top: 40px;
        margin-right: 40px;
    }

    .descripcion-producto {
        margin-left: 5px;
        max-width: 50%;
    }


    .descripcion-esrb-buy{
        display: flex;
    }

    .ersb{
        margin-left: 5px;
        padding-right: 20px;
    }

    .precio {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 200px;
        margin-top: 10px;
        transition: all 1000ms;
        margin-top: auto;
        margin-bottom: auto;
    }

    .esrb-photo{
        padding-right: 15px;
    }

    .esrb-buy {
        width: 40vw;
    }
    .esrb {
        width: 50%;
    }

    .requisitos {
        display: flex;
        width: 100%;
        padding-top: 50px;
    }

    .tecnicos {
        width: 30%;
        margin-top: 0;
    }

    .requisitos-pc {
        width: 30%;
        margin-top: 0;
    }
    .datos-tecnicos {
        background-color: rgba(0, 0, 0, 0.925);
        border-radius: 5px;
        font-size: 0.70rem;
        font-weight: normal;
        text-align: center;
        padding-top: 70px;
        height: 350px;
        margin-left: 15px;
        padding-left: 7px;
        padding-right: 5px;
    }
    .requisitos-min {
        background-color: rgba(0, 0, 0, 0.925);
        border-radius: 5px;
        font-weight: normal;
        font-size: 0.70rem;
        height: 350px;
        text-align: center;
        padding:10px;
        margin-left: 17px;
        padding-left: 7px;
    }

    footer {
        transition: all 1000ms;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .redes-sociales {
        width: 30%;
        padding: 15px;
        margin: 15px;
        font-size: 0.70em;
    }
    .links-footer {
        margin-right: 10px;
        margin-left: 40px;
        display: flex;
        justify-content: center;
        width: 60%;
    }
    .first-column,
    .second-column {
        text-align: center;
        justify-content: center;
        padding: 5px;
        min-width: 20vw;
        text-align: start;
    }
    .informacion-legal-footer {
        width: 100%;
        margin: 0;
        padding-left: 7px;
        padding-top: 15px;
    }
}

@media (min-width: 1280px) {
    .main-navbar li {
        padding-left: 25px;
    }

    .log-sign{
        font-size: 0.85em;
    }

    .main-descripcion{
        justify-content: center;
        width: 100vw;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        transition: all 1000ms;
        background-color: rgba(36, 35, 35, 0.925)
    }

    .descripcion-producto{
        max-width: 300px;
    }

    .esrb-buy{
        display: flex;
        justify-content: flex-end;
    }

    .esrb-photo{
        margin-left: 150px;
    }

    .esrb-detail{
        margin-left: 150px;
    }

    .precio {
        width: 450px;
        transition: all 1000ms;
    }

    .main-navbar li {
        font-family: 'Press Start 2P';
        font-size: 0.80em;
        margin-right: 15px;
        transition: all 1000ms;
    }

    #cart{
        left: 93%;
    }

    .resumen {
        padding: 10px;
        border-radius: 8px;
        max-width: 50%;
        margin: auto;
        margin-top: 50px;
        font-weight: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 2em;
    }
    .requisitos-pc {
        max-width: 50%;
    }
    .datos-tecnicos {
        font-size: 1em;
        transition: all 1000ms;
        padding-top: 60px;
    }
    .requisitos-min {
        font-size: 1em;
        transition: all 1000ms;
        padding-top: 15px;
    }
    
    .first-column,
    .second-column {
        min-width: 30vw;
    }

}