.body-productlist{
    background-color: rgb(29, 26, 26);
}
.product-filter{
    margin: 20px;
    border: solid #00FFF0 1px;
    border-radius: 5px;
    line-height: 1.5em;
    font-size: 0.75em;
    text-align: center;
}

.product-list article{
    margin: 0;
    width: 100%;
    
}

.product-list img{
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

#info{
    width: 80%;
    padding: 0;
    margin: 0;
}

#info button{
    font-size: 0.75em;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 120px;
}

.h3-productlist{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media(min-width: 769px){
    .product-filter{
        font-size: 1em;
        transition: all 1000ms;
    }

    .filter{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin: auto;
        padding-top: 10px;
        transition: all 1000ms;
    }

    #info button{
        font-size: 0.75em;
        transition: all 1000ms;
    }
}
    
    
    @media (min-width: 1280px){
        
        .filter{
            display: block;
            transition: all 1000ms;
        }
        
            .main-productlist{
                display: flex;
                margin-left: 15px;
                transition: all 1000ms;
                padding-bottom: 20px;
            }
            .product-filter{
                height: 470px;
                width: 40%;
                margin-top: 20px;
                margin-right: 20px;
                line-height: 1.5em;
                padding: 20px;
                transition: all 1000ms;
            }
            
            .product-list{
                margin-top: 10px;
            }
            
            .h3-productlist{
                margin-bottom: 15px;
                margin-top: 15px;
                border-bottom: solid #8F4DB5 2px;
                border-radius: 5px;
                transition: all 1000ms;
            }
            
                    #info button{
                        font-size: 1em;
                        width: 200px;
                        transition: all 1000ms;
                    }
        }
        