<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>

<body class="body-new-game">
    <main class="container-m">
        <form action="/products/create" method="POST" class="container-form">
            <h1>Editar  <i class="fas fa-gamepad"></i></h1>
            <div class="contenido-principal"> 
                <div class="box-container">
                <input placeholder= "Título" name="titulo" type="text" placholder="Nombre del Juego" required class="input-style">
                </div>
    
                <div class="box-container">
                    <input placeholder= "Precio" name="price" type="number" required class="input-style">
                </div>
                <div class="box-container">
                    <input placeholder= "Descuento" name="discount" type="number" class="input-style">
                </div>
                <div class="box-container">
                    <input placeholder="Características" name="nombre" type="text" placholder="Nombre del Juego" required class="input-style">
                </div>
                <div class="box-container">
                    <label class="tittle-m block">Dificultad</label>
                    <select name="dificult" class="input-style">
                        <option selected>Fácil</option>
                        <option>Intermedia</option>
                        <option>Dificil</option>
                    </select>
                </div>
                <div class="box-container">
                    <label class="tittle-m block">Edades</label>
                    <select name="ages" class="input-style">
                        <option selected>Todas</option>
                        <option>Mayores de 8 años</option>
                        <option>Mayores de 13 años</option>
                        <option>Mayores de 18 años</option>
                        <option>Mayores de 21 años</option>
                    </select>
                </div>
    
                <div class="box-container">
                    <label class="block tittle-m" for="interes" name="interes">Categorías</label>
                    <div class="box-category">
                        <label id=category-option>
                            <input type="checkbox" name="categoryOption" class="category-option" value="shooter">Shooter
                        </label>
    
                        <label id=category-option>
                            <input type="checkbox" name="categoryOption" class="category-option"  value="sports">Sports <!--  modificar todos los check como los anteriores-->
                        </label>
    
                        <label id=category-option>
                            <input type="checkbox" name="categoryOption" class="category-option"  value="accion">Acción
                        </label>
    
                        <label id=category-option>
                            <input type="checkbox" name="categoryOption" class="category-option"  value="terror">Terror
                        </label>
    
                        <label id=category-option>
                            <input type="checkbox" name="categoryOption" class="category-option"  value="estrategia">Estrategia
                        </label>
                    </div>
                </div>
                <div class="box-container">
                    <label class="block tittle-m" for="interes" name="interes">Plataforma</label>
                    <div class="box-category">
                        <label id=category-option>
                            <input type="checkbox" name="category-option" class="category-option">PS4
                        </label>
    
                        <label id=category-option>
                            <input type="checkbox" name="category-option" class="category-option">PS5
                        </label>
    
                        <label id=category-option>
                            <input type="checkbox" name="category-option" class="category-option">PC
                        </label>
    
                        <label id=category-option>
                            <input type="checkbox" name="category-option" class="category-option">XBOX
                        </label>
                    </div>
                </div>
                <div class="box-container photo-game">
                    <label class="block tittle-m" for="photoGame" name="fotoUser">Imagen del VideoJuego</label>
                    <input class="block" type="file" name="photoGame">
                </div>
                <div class="box-container">
                    <input placeholder= "Datos técnicos" name="nombre" type="text" placholder="Nombre del Juego" required class="input-style">
                </div>
                <div class="box-container">
                    <input placeholder= "Requisitos del sistema" name="nombre" type="text" placholder="Nombre del Juego" required class="input-style">
                </div>
                <div class="box-container">
                    <input placeholder= "Información legal del desarrollador" name="nombre" type="text" placholder="Nombre del Juego" required class="input-style">
                </div>
    
            </div>
            <div class="container-delete-button">
                <div class="box-button">
                    <button type="submit" class="delete-button-m">Editar Juego</button>
                </div>
                <div class="box-button">
                    <button type="submit" class="delete-button-m">Eliminar Juego</button>
                </div>
            </div>

            
        </form>

    </main>
    <%- include('./partials/footer') %> 
</body>

</html>