<!DOCTYPE html>
<html class="html-marcos" lang="en">

    <%- include('./partials/head') %>
    <%- include('./partials/header') %>

<body class="body-marcos">
    
    <main class="main-home">
        <div class="container">
            <div class="lanzamientos">
                <img class="imagen img-lanzamiento" src="/images/family-disruption1.jpg" alt="Family Disruption">
            </div>
            <section class="container-bs">
                <h2 class="tittle">M치s Vendidos</h2>
                <div class="best-seller">
                    <article class="game game1">
                        <div class="container-img">
                            <img class="imagen" src="/images/cod.png" alt="Call of Duty">
                        </div>

                        <div class="info">
                            <h3 class="name">Call Of Duty</h3>
                            <p class="category">Shooter</p>
                            <div class="box-price">
                                <p class="price">$1500</p>
                                <p class="discount">15% off</p>
                            </div>
                            <a href="#">
                                <button class="button">Ver Juego</button>
                            </a>
                        </div>
                    </article>
                    <article class="game game2">
                        <div class="container-img">
                            <img class="imagen" src="/images/fifa-22.png" alt="Fifa 22">
                        </div>
                        <div class="info">
                            <h3 class="name">Fifa 22</h3>
                            <p class="category">Deporte</p>
                            <div class="box-price">
                                <p class="price">$2200</p>
                                <p class="discount">10% off</p>
                            </div>
                            <a href="#">
                                <button class="button">Ver Juego</button>
                            </a>
                        </div>
                    </article>
                    <article class="game game3">
                        <div class="container-img">
                            <img class="imagen" src="/images/age-of-empire-2.jpg" alt="Age Of Empire 2">
                        </div>

                        <div class="info">
                            <h3 class="name">Age Of Empire 2</h3>
                            <p class="category">Estrategia</p>
                            <div class="box-price">
                                <p class="price">$1850</p>
                                <p class="discount">15% off</p>
                            </div>
                            <a href="#">
                                <button class="button">Ver Juego</button>
                            </a>
                        </div>
                    </article>
                    <article class="game game4">
                        <div class="container-img">
                            <img class="imagen" src="/images/motogp21.png" alt="Moto GP 21">
                        </div>

                        <div class="info">
                            <h3 class="name">Moto GP 2021</h3>
                            <p class="category">Motos</p>
                            <div class="box-price">
                                <p class="price">$1150</p>
                                <p class="discount">35% off</p>
                            </div>
                            <a href="#">
                                <button class="button">Ver Juego</button>
                            </a>
                        </div>
                    </article>
                </div>

            </section>
            <section class="container-cs">
                <h2 class="tittle">Pr칩ximamente</h2>
                <div class="comming-soon">
                    <article class="game game5">
                        <div class="container-img">
                            <img class="imagen" src="/images/overwatch.png" alt="Overwatch">
                        </div>
                        <div class="info">
                            <h3 class="name">Overwatch</h3>
                            <p class="category">Shooter</p>
                            <button class="button-comming">Estreno Noviembre</button>
                        </div>
                    </article>
                    <article class="game 6">
                        <div class="container-img">
                            <img class="imagen" src="/images/residentevil.png" alt="Resident Evil 8">
                        </div>
                        <div class="info">
                            <h3 class="name">Resident Evil 8</h3>
                            <p class="category">Terror</p>
                            <button class="button-comming">Estreno Noviembre</button>
                        </div>
                    </article>
                    <article class="game game7">
                        <div class="container-img">
                            <img class="imagen" src="/images/hotline.png" alt="Hotline Miami 2">
                        </div>
                        <div class="info">
                            <h3 class="name">Hotline Miami 2</h3>
                            <p class="category">Acci칩n</p>
                            <button class="button-comming">Estreno Diciembre</button>
                        </div>
                    </article>
                    <article class="game game8">
                        <div class="container-img">
                            <img class="imagen" src="/images/limbo.png" alt="Limbo">
                        </div>
                        <div class="info">
                            <h3 class="name">Limbo</h3>
                            <p class="category">L칩gica</p>
                            <button class="button-comming">Estreno Diciembre</button>
                        </div>
                    </article>
                </div>
            </section>


        </div>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>