<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>

<body class="body-fianriel">
    <main  class="main-fianriel">
        <button id="cart"><i class="fas fa-shopping-cart"></i></button>
        <form action="/registro" method="POST" class="registro-box-fianriel">
            <h1 class="h1-fianriel">
                Formulario de Registro <i class="fas fa-gamepad"></i>
            </h1>
            <br>
            <section class="section-fianriel">
                <article class="article-fianriel"> 
                    <div>
                        <input placeholder= 'Nombre' name="nombre" type="text" placholder="Tu Nombre" required class="input-fianriel">
                    </div>
                    <div>
                        <input placeholder= 'Apellido' name="apellido" type="text" placholder="Tu Apellido" required class="input-fianriel">
                    </div>
                    <div>
                        <input placeholder= 'DNI' name="dni" type="number" required class="input-fianriel">
                    </div>
                </article>

                <br>

                <article class="article-fianriel">
                    <div>
                        <input required placeholder="Usuario" type="text" name="usuario" class="input-fianriel">
                    </div>

                    <div>
                        <input required placeholder="Mail" type="email" name="email" class="input-fianriel">
                    </div>
                </article>
                <br>
                <article class="article-fianriel">

                    <div>
                        <input required placeholder="Password" type="password" name="clave" class="input-fianriel">
                    </div>
                    <div>
                        <input required placeholder="Password" type="password" name="clave2" class="input-fianriel">
                    </div>
                </article>

                <br>

                <article class="article-fianriel">
                    <div>
                        <label>País</label><br>
                        <select name="pais" class="input-fianriel">
                            <option selected>Argentina</option>
                            <option>Brasil</option>
                            <option>Uruguay</option>
                            <option>China</option>
                            <option>Mordor</option>
                            <option>Polonia</option>
                        </select>
                    </div>
                    <div>
                        <label>Provincia</label><br>
                        <select name="provincia" class="input-fianriel">
                            <option selected>CABA</option>
                            <option>Che</option>
                            <option>Como</option>
                            <option>hago</option>
                            <option>esto</option>
                            <option>dependiente?</option>
                        </select>
                    </div>

                </article>

                <br>

                <article class="article-fianriel">
                    <div>
                        <input placeholder= 'Dirección' type="text" name="direccion" class="input-fianriel">
                    </div>
                    <div>
                        <input placeholder= 'Número' type="number" name="numero" class="input-fianriel">
                    </div>
                    <div>
                        <input placeholder= 'C.P.' type="number" name="cp" class="input-fianriel">
                    </div>
                </article>

                <br>

                <article class="article-fianriel">
                    <div>
                        <input required type="checkbox" name="tcno" value="tyc" id="checks-fianriel"></input>
                        <label class="legales-fianriel">Acepto Términos y Condiciones</label>

                        <br>

                        
                        <input type="checkbox" name="tyno" value="nyo" id="checks-fianriel"></button>
                        <label class="legales-fianriel">Me gustaría recibir noticias y ofertas especiales de GameStore</label>
                        
                    </div>
                </article>

                <br>



                <button type="submit" class="send-buttom">Confirmar Registro</button>



            </section>


        </form>
        <a href="/shopping-cart"><button id="cart"><i class="fas fa-shopping-cart"></i></button></a>
    </main>
</body>
<%- include('./partials/footer') %> 

</html>