<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>
<body>
    <main class="main-fianriel">
        <button id="cart"><i class="fas fa-shopping-cart"></i></button>
        <form action="/log-in" method="POST" class="registro-box-fianriel">
            <h1>
                Iniciar Sesión <i class="fas fa-gamepad"></i>
            </h1>
            <br>
            <section class="section-fianriel">
                <article class="article-fianriel">
                    <div>
                        <label>Email</label><br>
                        <input name="email" type="text" placholder="Tu Nombre" class="input-fianriel">
                        <% if (locals.errors && errors.email) { %> 
                            <div class= text-danger>
                            <%= errors.email.msg  %>     
                            </div>
                            <% } %> 
                    </div>
                </article>

                <br>

                <article class="article-fianriel">

                    <div>
                        <label>Contraseña</label><br>
                        <input required placholder="" type="password" name="clave" class="input-fianriel"><br>
                        <input type="checkbox" name="tyno" value="nyo" id="checks-fianriel"></button>
                        <label class="remember">Recordar usuario</label><br>
                        <label class="forget"><a href="#">Me olvidé de algo...</a></label>
                    </div>

                </article>

                <br>
                <button type="submit" class="send-buttom">Entrar</button>
            </section>
        </form>
        <a href="/shopping-cart"><button id="cart"><i class="fas fa-shopping-cart"></i></button></a>
    </main>
    <%- include('./partials/footer') %> 
</body>

</html>