<footer>
    <div>
        <img class="img-logo-footer" src="/images/favicon-96x96.png" alt="GameStore"> 
    </div>
    <div class="redes-sociales">
        <i id="redes"class="fab fa-twitter-square"></i>
        <i id="redes"class="fab fa-facebook-square"></i>
        <i id="redes"class="fab fa-instagram-square"></i>
    </div>
    <div class="links-footer">
        <div class="first-column">
            <p>Publicar en GameStore</p>
            <p>Trabajá con nosotros</p>
            <p>Acerca de la compañía</p>
            <p>Política de privacidad</p>
        </div>
        <div class="second-column">
            <p>Política de reembolso de la tienda</p>
            <p>Seguridad de la cuenta</p>
            <p>Club GameStore</p>
            <p>Newsletter</p>
        </div>
    </div>
    <div class="informacion-legal-footer">
        © 2021, Game Store, Inc. Todos los derechos reservados. El logotipo de GameStore es una marca comercial o marca registrada de Game Store, Inc. tanto en Argentina como en el resto del mundo. Otras marcas o nombres de productos son marcas comerciales de sus respectivos propietarios. Las transacciones fuera de Argentina se realizan a través de GameStore International, S.A.   
    </div>
</footer>