<header>
    <div class="img-logo-header">
        <img id="logo-header"src="/images/favicon-96x96.png" alt="GameStore">
    </div>
    <nav class="main-navbar">
        <ul>
            <li class="primer-color">Plataforma <i class="fas fa-caret-down"></i></li>
            <li class="segundo-color">Edades <i class="fas fa-caret-down"></i></li>
            <li class="tercer-color">Dificultad <i class="fas fa-caret-down"></i></li>
            <li class="cuarto-color">Categorías <i class="fas fa-caret-down"></i></li>
        </ul>
    </nav>
    <div class="barra-busqueda">
        <div>
        <input type="search" id="search">
            <i id="find" class="fas fa-search"></i><br>
        </div>
            <div class="log-sign">
                Log in / Sign up <i class="fas fa-gamepad"></i>
            </div>
        </div>
    <div class= "menu-desplegable">
        <i class="fas fa-caret-square-down"></i>
    </div>
</header>
<div id="relleno"></div>