<header class="header">
    <div class="img-logo-header">
        <a href="/home"><img id="logo-header"src="/images/favicon-96x96.png" alt="GameStore"></a>
    </div>
    <nav class="main-navbar">
        <ul>
            <li class="primer-color">Plataforma <i id='fas' class="fas fa-caret-down"></i></li>
            <li class="segundo-color">Edades <i id='fas' class="fas fa-caret-down"></i></li>
            <li class="tercer-color">Dificultad <i  id='fas' class="fas fa-caret-down"></i></li>
            <li class="cuarto-color">Categorías <i id='fas'  class="fas fa-caret-down"></i></li>
        </ul>
    </nav>
    <div class="barra-busqueda">
        <div>
        <input type="search" id="search">
            <i id="find" class="fas fa-search"></i><br>
        </div>
        <% if (locals.isLogged) { %>
            <div class="logged">
                <a href="/user/profile"><div class="userLogged"><%= locals.userLogged.usuario %><img class= "imgAvatarHeader" src="/images/avatars/<%=locals.userLogged.avatar.ruta %> "></a> / <a href= "/user/log-out">Log out  </a><i  id='fas' class="fas fa-gamepad"></i></div>
            </div>
            <% } else { %> 
                <div class="log-sign">
                    <a href="/user/log-in">Log in</a> / <a href="/user/sign-up">Sign up</a> <i  id='fas' class="fas fa-gamepad"></i>
                </div>
        <% } %> 
    <div class= "menu-desplegable">
        <i class="fas fa-caret-square-down"></i>
    </div>
</header>
<div id="relleno"></div>